<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="j100-0000">

  <!-- Common -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro"/>

  <!-- Platform -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/j100.urdf.xacro"/>
  <xacro:j100 wheel="default"/>


  <!-- Attachments -->

  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/attachments/fender.urdf.xacro"/>
  <xacro:fender name="front_fender" model="default" parent_link="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:fender>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/attachments/fender.urdf.xacro"/>
  <xacro:fender name="rear_fender" model="default" parent_link="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.1415"/>
  </xacro:fender>


  <!-- Links -->

  <xacro:include filename="$(find clearpath_platform_description)/urdf/links/cylinder.urdf.xacro"/>
  <xacro:cylinder name="cylinder" parent_link="default_mount" material_name="clearpath_dark_grey" radius="0.05" length="0.1">
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
  </xacro:cylinder>


  <!-- Mounts -->

  <!-- bracket_0 -->
  <xacro:include filename="$(find clearpath_mounts_description)/urdf/pacs/bracket.urdf.xacro"/>
  <xacro:bracket name="bracket_0" parent_link="front_0_mount" model="horizontal">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:bracket>

  <!-- bracket_1 -->
  <xacro:include filename="$(find clearpath_mounts_description)/urdf/pacs/bracket.urdf.xacro"/>
  <xacro:bracket name="bracket_1" parent_link="rear_0_mount" model="horizontal">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:bracket>


  <!-- Sensors -->

  <!-- lidar2d_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/hokuyo_ust.urdf.xacro"/>
  <xacro:hokuyo_ust name="lidar2d_0" parent_link="bracket_0_mount" ang_res="0.5" min_ang="-3.141592653589793" max_ang="3.141592653589793" min_range="0.05" max_range="25.0" update_rate="50">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:hokuyo_ust>

  <!-- lidar2d_1 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/hokuyo_ust.urdf.xacro"/>
  <xacro:hokuyo_ust name="lidar2d_1" parent_link="bracket_1_mount" ang_res="0.5" min_ang="-3.141592653589793" max_ang="3.141592653589793" min_range="0.05" max_range="25.0" update_rate="50">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.1415"/>
  </xacro:hokuyo_ust>

  <!-- lidar3d_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/velodyne_lidar.urdf.xacro"/>
  <xacro:velodyne_lidar name="lidar3d_0" parent_link="default_mount" ang_res_h="0.4" ang_res_v="2.0" min_ang_h="-3.141592" max_ang_h="3.141592" min_ang_v="-0.261799" max_ang_v="0.261799" min_range="0.9" max_range="130.0" update_rate="50">
    <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
  </xacro:velodyne_lidar>


  <!-- Manipulators -->


  <!-- Extras -->


</robot>
